<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav><h1>Admin Dashboard</h1>
        <div>
    <p>Welcome, <%= user.name %>!</p>
    <p>Your email is: <%= user.email %></p>
    <p>Your role is: <%= user.role %></p></div>
    <a href="/logout">Log out</a>
    </nav>
    
    <section class="side-section">
        <section>
            
        </section>
    </section>
   
</body>
</html>