<section class="admin-menu">
        <h4> Reception Panel</h4>

    <strong>Rooms</strong>
    <a href="/reception/room">Add Rooms</a>
    <a href="/reception/rooms">View Rooms</a>

    <strong>Patient</strong>
    <a href="/reception/"   >Add Patient</a>
    <a href="/reception/"   >View Patient</a>

    <a class="logout" href="/logout"> Logout</a>
</section>