 <section class="admin-menu">
        <h4> Admin Panel</h4>

    <strong>Doctor</strong>
    <a href="/registerDoctor"   >Add Doctor</a>
    <a href="/viewDoctor">View Doctors</a>

    <strong>Receptionist</strong>
    <a href="/admin/reception"   >Add Receptionist</a>
    <a href="/admin/receptions"   >View Receptionists</a>

    <a class="logout" href="/logout"> Logout</a>
</section>