<%- include("./adminNav.ejs") %>
<main>
    <%- include("./adminSideBar.ejs") %>
<section class="form-win">
        <div id="default-view"  >
            <div class="card">
                <strong>
                    Total Doctors 
                </strong>
                <strong class="number">
                    <br> 13
                </strong>
            </div>
            <div class="card">
                <strong>
                    Total Patient 
                </strong>
                <strong class="number">
                    <br> 50
                </strong>
            </div>
            <div class="card">
                <strong>
                    Total Receptionist
                </strong>
                <strong class="number">
                    <br> 2
                </strong>
            </div>
        </div>
    </section>
</main>
<%- include("adminFooter") %>