<% if(typeof message !== 'undefined' && message!=="") { %>
    <script>
      alert('<%= message %>');
    </script>
  <% } %>
  <script type="text/javascript" src="/index.js"></script>
</body>
</html>